body {
    font-family: Arial, sans-serif;
    color: #210470;
}

.blog-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 110px;
    background-color: #dbecf3;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(22, 19, 1);
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #0f0346, #3d14ad, #11023a);
}

#postTitle {
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    transition: border-color 0.3s ease;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to right, #0e0b8d, #abb1eb);
    color: #fff;
    box-shadow: 5px 10px 10px rgb(2, 2, 44);
}

#postTitle:focus {
    outline: none;
    border-color: #4769ff;
}

#contentContainer {
    margin-top: 50px;
}

/* #contentContainer textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #4781ff, #045e61) 1;
} */
#contentContainer textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #4781ff, #07777a, #077a16, #2cd2d8, #eb1a9b) 1;
    resize: vertical;
    /* Allow vertical resizing */
    height: 200px;
    /* Set the initial height to accommodate 200 words */
}

#contentContainer textarea:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addContentBtn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #4763ff, #030455);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#addContentBtn:hover {
    box-shadow: 10px 10px 30px rgb(214, 197, 101);
}

/* Existing styles for other elements */

button {
    /* post button */
    background: linear-gradient(to right, #2b92f3, #200b00);
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 20px 20px;
    /* box-shadow: 10px 10px 30px rgb(214, 197, 101); */
    cursor: pointer;
    align-self: flex-end;
    justify-content: center;
}